
<h2 class="text-white">
    Busquedas
  </h2>
  <hr class="text-white">
<ul class="list-group p-3" >
    <li class="list-group-item mb-1" 
        [routerLink]="['/pais']" 
        routerLinkActive="active" 
        >
        Buscar Pais
    </li>
    <li class="list-group-item mb-1"
        [routerLink]="['/region']" 
        routerLinkActive="active" 
        >
        Buscar Region
    </li>
    <li class="list-group-item mb-1"
        [routerLink]="['/capital']" 
        routerLinkActive="active" 
        >
        Buscar Capital
    </li>
</ul>

